.content.content-main
	#card
		.card-inner.fade
			header
				img(src=`${main.avatar.link}` width=`${main.avatar.width}` height=`${main.avatar.height}` alt="avatar")
				h1(data-translate="name") #{main.name}
				h2#signature(data-translate="signature") #{main.signature}

			ul
				each link, key in main.ul
					li
						a(
						   href=`${link.href}`
						   aria-label=`${link.text}`
						   target=link.target || null
						)
							i(class=`icon icon-${link.icon}`)
							span(data-translate=`${link.text}`) #{link.text}

			canvas.grid-background#gridCanvas